<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>WebTerminal</title>
        <style type="text/css">
            label {
                display: inline-block;
                width: 120px;
                margin: 5px;
                text-align: right;
            }
            input[type=text], input[type=password], input[type=number] {
                display: inline-block;
                width: 200px;
            }
        </style>
    </head>
    <body>
        <div>
            <div th:if="${param.error}">
                Invalid username and/or password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <br/>
            <form th:action="@{/login}" method="post">
                <div><label>UserName:</label><input type="text" name="username" autofocus/></div>
                <div><label>Password:</label><input type="password" name="password"/></div>
                <div><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="Sign In"/></div>
            </form>
        </div>
    </body>
</html>